div.detalles-modal {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

div.detalles-modal > div.contenedor-detalles-modal {
    width: 80vw;
    max-height: 80vh;
    min-height: 20vw;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background:  var(--color-blanco);
    box-shadow: 0 0 10px var(--color-rojo);
    overflow-y: auto;
    overflow-x: hidden;
    transform: scale(1);
}
.contenedor-detalles-modal-botones {
    position:relative;
    width: 100%;
    height: 3rem;
}
.boton-close-modal-detalles{
    position: absolute;
    top: 0px;
    right: 0px;
    border-width: 0;
    background: none;
    cursor: pointer;
}

.boton-close-modal-detalles svg{
    width: 3rem;
    height: 3rem;
    fill: var(--color-rojo);
}
.boton-close-modal-detalles svg:hover{
    transform: scale(1.2);
}

.modal-detalles-none {
    display: none;
}

.contenedor-detalles-caracteristicas {
    width: 100%;
    padding: 10px;
    color: var(--color-oscuro);
}
.contenedor-detalles-caracteristicas > h3 {
    text-align: center;
    color: var(--color-rojo);
}
.contenedor-detalles-caracteristicas h5 {
    color: var(--color-azul);
}
.modal-botones-abajo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: auto;
    padding: 10px;
}

a[class*="modal-boton-modal-"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:fit-content;
    padding: 10px;
    border-radius: 10px;
    background: var(--color-azul);
    color: var(--color-blanco);
    font-weight: bold;
    cursor: pointer;
}
a[class*="modal-boton-modal-"]:hover {
    box-shadow: 0 0 5px 2px var(--color-azul);
}
a.boton-color-azul { background: var(--color-azul); }
a.boton-color-azul:hover { box-shadow: 0 0 5px 2px var(--color-azul); }
a.boton-color-rojo { background: var(--color-rojo); }
a.boton-color-rojo:hover { box-shadow: 0 0 5px 2px var(--color-rojo); }
a.boton-color-verde { background: var(--color-verde); }
a.boton-color-verde:hover { box-shadow: 0 0 5px 2px var(--color-verde); }
a.boton-color-morado { background: var(--color-morado); }
a.boton-color-morado:hover { box-shadow: 0 0 5px 2px var(--color-morado); }
a.boton-color-amarillo { background: var(--color-amarillo); }
a.boton-color-amarillo:hover { box-shadow: 0 0 5px 2px var(--color-amarillo); }
a.boton-color-disabled {
    background: var(--color-oscuro) !important; 
    pointer-events: none;
    cursor: none;
}

a[class*="modal-boton-modal-"] > svg {
    width: 2rem;
    height: 2rem;
    fill: var(--color-blanco);
}

#mod-det-embed-yutu {
    width: 75vw;
    height: 42vw;
}
@media screen and (min-width: 768px){
    #mod-det-embed-yutu {
        width: 42vw;
        height: 23vw;
    }
}
@media screen and (min-width: 1024px){
    div.detalles-modal > div.contenedor-detalles-modal {
        width: 1000px;
    }
    #mod-det-embed-yutu {
        width: 520px;
        height: 293px;
    }
}